{% extends 'main/layout.html' %}

{% load static %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
    <h2 class="page-title"> Личный кабинет </h2>
    <div class="account">
        <div class="greetings">
            <img class="wheel" src="{% static 'main/images/wheel.png' %}" alt="">
            <div class="text-block">
                <p class="greetings-text">Здравствуйте, <b>{{ student.name }} {{ student.otch }}!</b></p>
                <p class="greetings-text">Это ваш личный кабинет в автошколе <b>"Автошкола 29"</b></p>
                <p class="greetings-text">Ваша группа <b>"{{ student.gruppa }}"</b>, направление подготовки <b>"B"</b>
                </p>
                <p class="greetings-text">Адрес учебного класса: г. Северодвинск, ул. Ломоносова 85, к1</p>
                <p class="greetings-text">Телефон автошколы: <b>+79112221122</b></p>
            </div>
        </div>
        <div class="personal-info">
            <h5>Личная информация</h5>
            <p class="greetings-text"><b>ФИО: </b><span>{{ student.fam }} {{ student.name }} {{ student.otch }}</span>
            </p>
            <p class="greetings-text"><b>Дата рождения: </b><span>{{ student.date_rogd }}</span></p>
            <p class="greetings-text"><b>Адрес проживания: </b><span>{{ student.address }}</span></p>
            <p class="greetings-text"><b>Электронная почта: </b><span>{{ student.email }}</span></p>
            <p class="greetings-text"><b>Номер телефона: </b><span>{{ student.tel }}</span></p>
            <i class="fa fa-pencil-square" aria-hidden="true" data-toggle="modal" data-target="#contactsModal"></i>
        </div>
    </div>

    <div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="contactsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Контактная информация</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Электронная почта</label>
{#                            {{ student.email }}#}
                                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                                               placeholder="Введите ваш электронный адрес" value="slavavlasov@yandex.ru">
                        </div>
                        <div class="form-group">
                            <label for="tel">Номер телефона</label>
{#                            {{ student.tel }}#}

                                                        <input type="text" class="form-control" id="tel" placeholder="Введите ваш телефон"
                                                               value="+79115045117">
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="contactsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Контактная информация</h5>

                </div>
                <div class="modal-body">


                </div>
            </div>
        </div>
    </div>

    <div class="exams">
        <h5>Прогресс по экзаменам:</h5>
        <table id="exams" class="display">
            <thead>
            <tr>
                <th>Внутренний экзамен по теории</th>
                <th>Внутренний экзамен по вождению</th>
                <th>Экзамен ГАИ по теории</th>
                <th>Экзамен ГАИ по вождению</th>
            </tr>
            </thead>
            <tr>
                <td class="text-success">Сдан</td>
                <td class="text-danger">Не сдан</td>
                <td class="text-warning">Ожидает сдачи</td>
                <td class="text-warning">Ожидает сдачи</td>

            </tr>
            <tr>
        </table>
    </div>

    <div class="personal-docs">
        <h5>Ваши документы:</h5>
        <h5 class="bg-danger text-white pl-1">У вас сданы не все документы</h5>
        <h5 class="bg-success text-white pl-1 d-none">Все документы сданы</h5>
        <table id="documents" class="display">
            <thead>
            <tr>
                <th>Название документа</th>
                <th>Наличие</th>
                <th>Номер документа</th>
                <th>Копия документа</th>
            </tr>
            </thead>
            <tr>
                <td>Согласие на обработку персональных данных</td>
                <td class="text-success">Есть</td>
                <td>2202415</td>
                <td><u><a
                        class="btn btn-secondary btn-sm download" download="" href="">Скачать <i style="font-size: 14px"
                                                                                     class="fa fa-file ml-1"
                                                                                     aria-hidden="true"></i></a></u>
                </td>
            </tr>
            <tr>
                <td>Договор</td>
                <td class="text-success">Есть</td>
                <td>2215077</td>
                <td><u><a
                        class="btn btn-secondary btn-sm download" download="" href="{% static 'main/docs/Dogovor 1.pdf' %}">Скачать
                    <i style="font-size: 14px"
                       class="fa fa-file ml-1"
                       aria-hidden="true"></i></a></u>
                </td>
            </tr>
            <tr>
            <tr>
                <td>Медицинская справка</td>
                <td class="text-success">Есть</td>
                <td>0115833</td>
                <td><u><a
                        class="btn btn-secondary btn-sm download" download=""
                        href="{% static 'main/docs/Dogovor 1.pdf' %}">Скачать <i style="font-size: 14px"
                                                                                 class="fa fa-file ml-1"
                                                                                 aria-hidden="true"></i></a></u>
                </td>
            </tr>
            <tr>
                <td>Квитанция об оплате</td>
                <td class="text-danger">Нет</td>
                <td>-</td>
                <td><u><a
                        class="btn btn--disabled btn-secondary btn-sm download" download=""
                        href="{% static 'main/docs/Dogovor 1.pdf' %}">Скачать <i style="font-size: 14px"
                                                                                 class="fa fa-file ml-1"
                                                                                 aria-hidden="true"></i></a></u>
{#                    <form action="post"><label class="btn btn-secondary btn-sm mr-2 download" for="doc"><input id="doc"#}
{#                                                                                                               type="file"#}
{#                                                                                                               accept=".pdf">Загрузить<i#}
{#                            style="font-size: 14px" class="fa fa-paperclip ml-1" aria-hidden="true"></i></label></form>#}
                </td>
            </tr>
        </table>
        <div class="study-items">
            <div class="instructor shadow">
                <img class="item-image" src="{% static 'main/images/dizel.jpg' %}" alt="instructor">
                <div class="item-info">
                    <p class="item-name">Костылев Никита Сергеевич</p>
                    <p class="item-detail">Тел: <span class="phone-num">+79115551525</span></p>
                    <p class="item-title">Ваш инструктор</p>
                </div>

            </div>
            <div class="car shadow">
                <img class="item-image" src="{% static 'main/images/cars/renault.jpg' %}" alt="car">
                <div class="item-info">
                    <p class="item-name">Renault Logan</p>
                    <p class="item-detail">Номер: <span class="item-num">М317КА 29</span></p>
                    <p class="item-title">Ваш учебный автомобиль</p>

                </div>
            </div>
        </div>
    </div>
    <div class="next-lessons">
        <h5>Предстоящие занятия:</h5>
        <table id="next-lessons" class="display">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Вид занятия</th>
                <th>Тема</th>
            </tr>
            </thead>
            <tr>
                <td>25.05.2021</td>
                <td>17:00 - 18:30</td>
                <td>Теория</td>
                <td>Начало движения, маневрирование</td>
            </tr>
            <tr>
            <tr>
                <td>27.05.2021</td>
                <td>19:30 - 21:00</td>
                <td>Практическое вождение</td>
                <td>Езда по городу</td>
            </tr>

        </table>
    </div>



{% endblock %}