{% extends 'main/layout.html' %}

{% load static %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
    <h2 class="page-title">Личный кабинет</h2>
    <div class="account">
        <div class="greetings">
            <img class="wheel" src="{% static 'main/images/wheel.png' %}" alt="">
            <div class="text-block">
                <p class="greetings-text">Здравствуйте, <b>Иван Иванович!</b></p>
                <p class="greetings-text">Это ваш личный кабинет в автошколе <b>"Автошкола 29"</b></p>
                <p class="greetings-text">Ваша группа <b>"32512"</b>, направление подготовки <b>"B"</b></p>
                <p class="greetings-text">Адрес учбного класса: г. Северодвинск, ул. Тестовая, д 7</p>
                <p class="greetings-text">Телефон автошколы: <b>+79112221122</b></p>
            </div>
        </div>
        <div class="personal-info">
            <h5>Личная информация</h5>
            <p class="greetings-text"><b>ФИО: </b><span>Иванов Иван Иванович</span></p>
            <p class="greetings-text"><b>Дата рождения: </b><span>31.10.1999</span></p>
            <p class="greetings-text"><b>Адрес проживания: </b><span>ул. Орджоникидзе 30, кв. 26</span></p>
            <p class="greetings-text"><b>Электронная почта: </b><span>slavavlasov@yandex.ru</span></p>
            <p class="greetings-text"><b>Номер телефона: </b><span>+79115045117</span></p>
        </div>
    </div>
    <div class="personal-docs">
        <h5>Ваши документы:</h5>
        <h5 class="bg-danger text-white pl-1">У вас сданы не все документы</h5>
        <h5 class="bg-success text-white pl-1 d-none">Все документы сданы</h5>
        <table id="documents" class="display">
            <tbody>
            <tr>
                <th>Название документа</th>
                <th>Наличие</th>
                <th>Номер документа</th>
                <th>Файл</th>
            </tr>
            <tr>
                <td>Договор</td>
                <td class="text-success">Есть</td>
                <td>2215077</td>
                <td><u><a href="">Скачать</a></u></td>
            </tr>
            <tr>
            <tr>
                <td>Медицинская справка</td>
                <td class="text-success">Есть</td>
                <td>0115833</td>
                <td><u><a href="">Скачать</a></u></td>
            </tr>
            <tr>
                <td>Квитанция об оплате</td>
                <td class="text-danger">Нет</td>
                <td>-</td>
                <td><u><a href="">Скачать</a></u></td>
            </tr>
            </tbody>
        </table>
        <div class="study-items">
            <div class="instructor shadow">
                <img class="instructor-image" src="{% static 'main/images/dizel.jpg' %}" alt="instructor">
                <div class="instructor-info">
                    <p class="instructor-name">Костылев Никита Сергеевич</p>
                    <p class="instructor-phone">Тел: <span class="phone-num">+79115551525</span></p>
                    <p class="item-title">Ваш инструктор</p>
                </div>

            </div>
            <div class="car">
                <div class="car-name">Renault Logan</div>
            </div>
        </div>
    </div>



{% endblock %}