{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>

    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/schedule.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image:  url({% static 'main/images/car.jpg' %});">
            <div class="user-logo">
                <div class="img user-img" style="background-image: url({% static 'main/images/me.jpg' %});"></div>
                <h3>Иван Иванов</h3>
                <h6 class="role-title">Ученик</h6>
            </div>
        </div>
        <h3 class="nav-title ml-4 mt-3">Навигация</h3>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="{% url 'home' %}"><i class="fa fa-home mr-3"></i> Главная</a>
            </li>
            <li>
                <a href="{% url 'schedule' %}"><i class="fa fa-calendar mr-3 notif"></i> Расписание</a>
            </li>
            <li>
                <a href="{% url 'tests' %}"><i class="fa fa-graduation-cap mr-2 notif"></i> Билеты ПДД</a>
            </li>
            <li>
                <a href="/history"><i class="fa fa-gift mr-3"></i> История вождений</a>
            </li>

            <li>
                <a href="#"><i class="fa fa-sign-out mr-3"></i> Выйти</a>
            </li>
        </ul>
        <img class="logo-school" src="{% static 'main/images/logo.png' %}" alt="logo">


    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="nav-line"></div>
        <div class="content-main">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>


<script src="{% static 'main/js/jquery.min.js' %}"></script>
<script src="{% static 'main/js/popper.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.min.js' %}"></script>

<script src="{% static 'main/js/main.js' %}"></script>
<script src="{% static 'main/js/schedule-utils.js' %}"></script>
<!-- util functions included in the CodyHouse framework -->
<script src="{% static 'main/js/schedule.js' %}"></script>
</body>
</html>