{% extends 'main/layout-teacher.html' %}

{% load static %}

{% block title %} Ученики {% endblock %}

{% block content %}

    <h2 class="page-title">Список ваших учеников</h2>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Место проживания</th>
            <th>Начало обучения</th>
            <th>Оставшиеся часы</th>
            <th>Внутренний экзамен по теории</th>
            <th>Внутренний экзамен по вождению</th>
        </tr>
        </thead>
        <tr class="student-line" aria-hidden="true" data-toggle="modal" data-target="#studentModal">
            <td>Власов Вячеслав Алексеевич</td>
            <td>31.10.1999</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>30.04.2021</td>
            <td>22.5</td>
            <td class="text-success">Сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr class="student-line">
            <td>Корнеев Максим Сергеевич</td>
            <td>18.08.1999</td>
            <td>ул. Юбилейная 56, кв 36</td>
            <td>10.05.2021</td>
            <td>33</td>
            <td class="text-success">Сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr class="student-line">
            <td>Халабуда Олег Дмитриевич</td>
            <td>10.12.1998</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>05.05.2021</td>
            <td>30</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr class="student-line">
            <td>Кичева Дарья Андреевна</td>
            <td>06.10.1999</td>
            <td>ул. Лебедева 15, кв 66</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr class="student-line">
            <td>Дегтев Андрей Андреевич</td>
            <td>29.12.1999</td>
            <td>ул. Морской 20, кв 56</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
    </table>

    <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModal"
         aria-hidden="true">
        <div class="modal-dialog modal-xxl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ученик</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="student-info">
                        <div class="student-photo"
                             style="background-image: url({% static 'main/images/me.jpg' %});"></div>
                        <div class="ml-3">
                            <span class="h6">ФИО: </span><h5 class="student-fio text-primary">Власов Вячеслав
                            Алексеевич</h5>
                            <span class="h6">Номер телефона: </span><h5 class="student-fio text-primary">
                            +79115045117</h5>

                        </div>
                    </div>
                    <h6 class="mt-4">Прогресс по экзаменам:</h6>
                    <table id="exams" class="display">
                        <thead>
                        <tr>
                            <th>Внутренний экзамен по теории</th>
                            <th>Внутренний экзамен по вождению</th>
                            <th>Экзамен ГАИ по теории</th>
                            <th>Экзамен ГАИ по вождению</th>
                        </tr>
                        </thead>
                        <tr>
                            <td class="text-success">Сдан</td>
                            <td class="text-danger">Не сдан</td>
                            <td class="text-danger">Не сдан</td>
                            <td class="text-danger">Не сдан</td>
                        </tr>
                        <tr>
                    </table>
                    <h6 class="hours-remain mt-4 fz-sm">Осталось часов вождения: <span>42.5</span></h6>
                    <h6 class="mt-4 mb-3">История занятий:</h6>
                    <table id="lessons-history" class="display mt-3">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Списанные часы</th>
                            <th>Вид занятия</th>
                            <th>Тема</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>24.05.2021</td>
                            <td>17:00 - 18:30</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Автодром</td>
                        </tr>
                        <tr>
                            <td>21.05.2021</td>
                            <td>19:30 - 21:00</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Езда по городу</td>
                        </tr>
                        <tr>
                            <td>19.05.2021</td>
                            <td>18:00 - 19:30</td>
                            <td>--</td>
                            <td>Занятие по теории</td>
                            <td>Дорожные знаки</td>
                        </tr>
                        <tr>
                            <td>17.05.2021</td>
                            <td>17:00 - 18:30</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Автодром; Езда по городу</td>
                        </tr>
                        <tr>
                            <td>15.05.2021</td>
                            <td>12:00 - 13:30</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Езда по городу</td>
                        </tr>
                        <tr>
                            <td>13.05.2021</td>
                            <td>17:00 - 18:30</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Автодром</td>
                        </tr>
                        <tr>
                            <td>12.05.2021</td>
                            <td>18:00 - 19:30</td>
                            <td>--</td>
                            <td>Занятие по теории</td>
                            <td>Дорожная разметка; Специальные сигналы</td>
                        </tr>
                        <tr>
                            <td>10.05.2021</td>
                            <td>19:30 - 21:00</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Автодром; Езда по городу</td>
                        </tr>
                        <tr>
                            <td>08.05.2021</td>
                            <td>13:30 - 15:00</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Езда по городу</td>
                        </tr>
                        <tr>
                            <td>06.05.2021</td>
                            <td>16:30 - 18:00</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Автодром; Езда по городу</td>
                        </tr>
                        <tr>
                            <td>05.05.2021</td>
                            <td>18:00 - 19:30</td>
                            <td>--</td>
                            <td>Занятие по теории</td>
                            <td>Дорожная разметка; Специальные сигналы</td>
                        </tr>
                        <tr>
                            <td>03.05.2021</td>
                            <td>18:00 - 19:30</td>
                            <td>1.5</td>
                            <td>Практическое занятие</td>
                            <td>Езда по городу</td>
                        </tr>

                    </table>
                    <form>
                        <div class="form-group">
                            {#                            <label for="email">Электронная почта</label>#}
                            {#                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"#}
                            {#                                   placeholder="Введите ваш электронный адрес">#}
                        </div>
                        <div class="form-group">
                            {#                            <label for="tel">Номер телефона</label>#}
                            {#                            <input type="text" class="form-control" id="tel" placeholder="Введите ваш телефон">#}
                        </div>
                        {#                        <button type="submit" class="btn btn-primary">Изменить</button>#}
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}