{% extends 'main/layout-teacher.html' %}

{% load static %}

{% block title %} Ученики {% endblock %}

{% block content %}

    <h2 class="page-title">Список ваших учеников</h2>

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Место проживания</th>
            <th>Начало обучения</th>
            <th>Оставшиеся часы</th>
            <th>Внутренний экзамен по теории</th>
            <th>Внутренний экзамен по вождению</th>
        </tr>
        </thead>
        <tr>
            <td>Власов Вячеслав Алексеевич</td>
            <td>31.10.1999</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr>
            <td>Корнеев Максим Сергеевич</td>
            <td>18.10.1999</td>
            <td>ул. Юбилейная 56, кв 36</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-success">Сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr>
            <td>Халабуда Олег Дмитриевич</td>
            <td>10.12.1998</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>05.05.2021</td>
            <td>30</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr>
            <td>Власов Вячеслав Алексеевич</td>
            <td>31.10.1999</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr>
            <td>Власов Вячеслав Алексеевич</td>
            <td>31.10.1999</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>
        <tr>
            <td>Власов Вячеслав Алексеевич</td>
            <td>31.10.1999</td>
            <td>ул. Орджоникидзе 30, кв 36</td>
            <td>10.05.2021</td>
            <td>34.5</td>
            <td class="text-danger">Не сдан</td>
            <td class="text-danger">Не сдан</td>
        </tr>


    </table>

{% endblock %}