body {
    background-color: #F7F7F7;
}

i.fa {
    font-size: 20px;
}

.nav-title {
    color: #bbb;
}

.nav-line {
    display: flex;
    /*justify-content: end;*/
    align-items: center;
    height: 55px;
    width: 100%;
    background: #32373d;
}

.logo-school {
    max-width: 240px;
    display: flex;
    margin: auto;
}

.user-img {
    box-shadow: 0 0 15px 5px #000;
}

h3 {
    margin-bottom: 0 !important;
}

h6.role-title {
    display: block;
    font-size: 15px;
    margin: auto;
    padding: 0;
    color: #f8cb33;
    min-width: 90px;
    max-width: 110px;
    box-shadow: 0 0 15px 5px #555;
    background-color: rgba(50, 55, 61, 0.7);
    border-radius: 5px;
}

.content-main {
    min-height: calc(100% - 65px);
    flex-shrink: 2;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    box-shadow: 0 0 8px rgb(0 0 0 / 20%)
}

.greetings {
    display: flex;
}

.wheel {
    height: 110px;
    margin-right: 20px;
}

.greetings-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.6em;
}

h2.page-title {
    background-color: #2eb8c4;
    box-shadow: 0 0 15px 1px #26a1ab inset;
    color: #fff;
    padding-left: 10px;
    margin-bottom: 20px;
}

.account {
    display: flex;
    justify-content: space-between;
}

.personal-info {
    position: relative;
    border: 2px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #aaa;
    padding: 10px 50px 10px 10px;
    margin-right: 20px;
}

.personal-docs {
    margin-top: 20px;
}

.study-items {
    display: flex;
    margin-top: 30px;
}

.instructor {
    display: flex;
    justify-content: space-between;
    height: 95px;
    background-color: #32c5d2;
    color: #FFF;
    text-align: right;
    min-width: 500px;
}

.shadow {
    box-shadow: 0 0 8px rgb(0 0 0 / 20%);
    border-radius: 2px;
}

.item-image {
    height: 95px;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2px;
    width: 100%;
}

.item-detail {
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 7px;
}

.item-name {
    font-size: 18px;
    margin: 0;
    padding-right: 7px;
}

.item-fz-16 {
    font-size: 16px;
}

.item-name.item-blue {
    color: #26a1ab !important;
    font-size: 15px;
}

.item-title {
    background-color: rgba(0, 0, 0, .05);
    margin: 0;
    padding-right: 7px;
}

.car {
    display: flex;
    justify-content: space-between;
    height: 95px;
    background-color: #32c5d2;
    color: #FFF;
    text-align: right;
    min-width: 500px;
    margin-left: 15px;
}

.next-lessons {
    margin-top: 20px;
}

a.download:hover {
    text-decoration: underline !important;
}

.date-range {
    text-align: center;
    margin-top: 40px;
    margin-bottom: -15px;
    color: #666
}

.cd-schedule__top-info {
    font-size: 15px;
}

.js .cd-schedule__timeline li span {
    font-size: 12px;
}

.cd-schedule__event {
    transition: transform 0.2s
}

.cd-schedule__event:hover {
    box-shadow: 0 20px 20px 20px rgb(0 0 0 / 10%);
    transform: translateY(-7px);
}

.cd-schedule-modal__date, .cd-schedule__event a::before {
    font-size: 12px;
    opacity: .8;
}

@media (min-width: 64rem) {
    .js .cd-schedule__group {
        border: 1.5px solid var(--cd-color-border);
    }
}

.event-content {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.event-content .datetime {
    font-size: 19px;
    margin-left: 5px;
}

.vehicle {
    margin-left: 40px;
}

.sign-out {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;

}

.nav-line-btns {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    line-height: 1.3;
}

.sign-out:hover {
    color: rgba(255, 255, 255, 0.8);
}

.btn-chat {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    transition: color .2s
}

.btn-chat:hover {
    color: rgba(255, 255, 255, 0.8);
}

.student-lesson {
    color: #e5e5e5
}

.event-btns {
    display: flex;
}

.event-btns input {
    margin-right: 15px;
}

#lesson-comment {
    height: 60px;
}

.fa-pencil-square {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 25px !important;
}

.fa-pencil-square:hover {
    color: #b8b8b8;
}

.hours-remain {
    font-size: 20px;
    margin-bottom: 30px;
}

.hours-remain span {
    background: #509854;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.hours-remain.fz-sm {
    font-size: 16px;
}

.form-control {
    border: 1px solid #ced4da;
}

.student-line {
    cursor: pointer;
}

.student-info {
    display: flex;
}

.student-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.modal-xxl {
    max-width: 1200px;
}